{% extends "users/base.html" %}
{% load static %}
{% block content %}
<body>
  <div class="row h-100">
    <div class ="col-md-4"></div>
    <div class="col-md-4 my-auto">
      <div class="col-md-1"></div>
      <div class="card mx-auto auth col-md-11">
        <article class="card-body">
          <h1 class="card-title text-center mb-4 mt-1"><i class="fab fa-servicestack"></i></h1>
          <hr>
          <h4 class="text-info text-center mb-4">Hostel Portal</h4>
          <div class="alert alert-danger alert-with-icon" data-notify="container">
            <span data-notify="icon" class="tim-icons icon-alert-circle-exc"></span>
            <span data-notify="message">You have been logged out.</span>
          </div>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block"> Login Again </a>
        </article>        
      </div>
    </div>
  </div>
{% endblock content %}